#canvas-handler{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;

}

#area{
    border: 2px solid #6200EE;
    border-radius: 10px;
    background-color: #000;
}

/* cелекторы типов */
header {
    font-family: 'Roboto', sans-serif;
    background-color: #6200EE;
    color: #FFFFFF;
    padding: 10%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 30px;
}

header > p::first-letter{

    color: beige;

}

/* пример с наследованием */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
    color: #6200EE;
    margin: 5%;
    padding: 10%;
    line-height: 1.6;
}

fieldset{

    border-radius: 6px;
    border: 2px solid #6200EE;
}

/* cелекторы классов */
.error {
    color: #B00020;
    font-size: 14px;
    margin-top: 1px;
    display: none;
}
.checkbox-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main{

    border-radius: 30px;
    height: 90%;
    width: 80%;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.r-button {
    padding: 10px 15px;
    border: 2px solid #6200EE;
    background: white;
    color: #6200EE;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* селекторы атрибутов и псевдоклассов */
input[type="checkbox"]:checked {
    accent-color: #6200EE;
}

.r-button:hover {
    background-color: #6200EE;
    color: white;
    transform: translateY(-6%);
}

.global-error-handler{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#y {
    width: 80%;
    padding: 2% 3%;
    border: 2px solid #6200EE;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.1);
}

img {
    box-shadow: 3px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 5% auto;
    max-width: 90%;
    height: auto;
    border-radius: 12px;
    border: 2px solid #6200EE;
}
/*ТЗ с вт вроде есть */

#resultsTable {
    width: 100%;
    border-collapse: collapse;
    margin: 5% 0%;
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

#resultsContainer h3 {
    color: #6200EE;
    width: auto;
    font-size: 1.5em;
    margin-bottom: 10%;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #6200EE;
    padding-bottom: 10px;
}

input[type="submit"] {
    background: #6200EE;
    color: white;
    padding: 2% 3%;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 6px 20px rgba(98, 0, 238, 0.3);
    display: block;
    margin: 10% auto;
    width: 30%;
}

.back-button {
    background: #6200EE;
    color: white;
    padding: 2% 3%;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 6px 20px rgba(98, 0, 238, 0.3);
    display: block;
    margin: 10% auto;
    width: 30%;
}

input[type="submit"]:active {
    box-shadow: 0 4px 15px rgba(98, 0, 238, 0.3);
}


#resetButtonHandler{

    display: flex;
    justify-content: flex-end;

}

#reset{
    padding: 10px 15px;
    border: 2px solid #6200EE;
    background: white;
    color: #6200EE;
    border-radius: 4px;
    cursor: pointer;
    font: 16px;
}

#main-error-handler{

    display: block;
    position: fixed;
    justify-content: flex-end;
    background: white;
    border: 2px solid #6200EE;
    border-radius: 10px;
    top: 30%;
    right: 3%;
    width: 17%;
    height: 8%;
    color: #B00020;
    font-size: 14px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
